@use "constants" as *

.about
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: $spacing-l

  header
    display: flex
    justify-content: center
    margin: $spacing-s $spacing-m

    img
      height: 200px
      width: 200px
      border-radius:50%
      object-fit: cover

  h1
    font-weight: bold
    font-size: $fontSizes-xl
    font-family: "Source Sans Pro", sans-serif
    margin-top: $spacing-m
    margin-bottom: $spacing-xs

  p
    font-size: $fontSizes-m
    font-weight: 300

  h1,p
    max-width: 500px

    @media only screen and (min-width: 1441px)
      max-width: 800px