@use "./constants" as *

#easter-egg
  display: flex
  align-items: center
  flex-direction: column

  canvas
    border: 1px solid black

  #tips-and-control
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 30px

    .power-by
      font-size: $fontSizes-xs