// @use "./constants" as *
  
.landing
  display: grid
  place-items: center center
  height: 100vh

svg
  max-width: 400px
  width: 70vw
  margin-right: -100px
  scale: 1

#dot
  cursor: pointer

// .appear
//   animation: appear 1s ease-in

//   @keyframes appear
//     from
//       opacity: 0
//       transform: translatey(10px)
//     to
//       transform: translatey(0px)
//       opacity: 1

.hide
  opacity: 0

// .totransparent
//   animation: anim 5s forwards

//   @keyframes anim
//     from
//       background: #0F2027
//     to
//       background: rgba(0,0,0,0)
