@use "./navigation"
@use "./footer"
@use "./notfoundpage"
@use "./post-list-item"
@use "./post"
@use "./about"
@use "./post-image"
@use "./post-content-list"

@use "./constants" as *


body
  font-family: 'Roboto Slab', serif
  background-color: $colors-white

.content
  min-height: calc(100vh - 160px)
  padding: $spacing-sm $spacing-s

  @media only screen and (min-width: $breakPoints-s) and (max-width: $breakPoints-m)
    padding: $spacing-sm $spacing-m
  
  @media only screen and (min-width: $breakPoints-m) and (max-width: $breakPoints-xl)
    padding: $spacing-sm $spacing-l
  
  @media only screen and (min-width: $breakPoints-xl)
    padding: $spacing-sm $spacing-xxl


.floating-image
  object-fit: cover
  border-radius: 5px
  -webkit-box-shadow: 9px 10px 17px 0px rgba(0,0,0,0.09)
  -moz-box-shadow: 9px 10px 17px 0px rgba(0,0,0,0.09)
  box-shadow: 9px 10px 17px 0px rgba(0,0,0,0.09)