@use "./footer"
@use "./notfoundpage"

@use "./constants" as *

body
  font-family: 'Roboto Slab', serif
  background-color: $colors-white

.lazyload,
.lazyloading
  filter: blur(5px)

.lazyloaded
  animation-name: fadein
  animation-duration: 0.4s
  animation-fill-mode: forwards

@keyframes fadein
  from
    filter: blur(5px)
  to
    filter: blur(0)

main
  overflow: hidden
  height: 100vh
  display: grid
  grid-template-columns: 0.4fr 1fr

.company
  background: rgb(36,59,85)
  background: linear-gradient(0deg, rgba(36,59,85,1) 0%, rgba(20,30,48,1) 100%)

.position
  background: lightcoral
  overflow: scroll
  scroll-snap-type: y mandatory

.section
  scroll-snap-align: start
  display: grid
  place-items: center center
  height: 100vh

.scroll-navigator
  position: absolute
  top: 0
  right: 0
  display: flex
  flex-direction: column
  gap: 3px

  .current-position
    background: red

  button
    border: 1px solid black
    padding: 5px
    border-radius: 10px

.arrows
  position: absolute
  top: 0
  left: 0
  display: flex
  flex-direction: column
  gap: 3px

  button
    border: 1px solid black
    padding: 5px
    border-radius: 10px

#particles
  width: 100%
  height: 100%