@use "./constants" as *

.mentoring
  section
    margin-bottom: $spacing-m

    h1
      font-size: $fontSizes-xxl
      margin-bottom: $spacing-s
      font-weight: bold
      text-align: center
      font-family: 'Source Sans Pro', sans-serif

  #intro
    div
      display: flex
      align-items: center

      #profile-picture
        width: 300px
        height: 300px
        border-radius: 50% !important
        margin-right: $spacing-m

      p
        font-size: $fontSizes-l
        line-height: 27px
        font-weight: 300

      @media only screen and (max-width: $breakPoints-l)
        flex-direction: column

        #profile-picture
          margin-right: 0
          margin-top: $spacing-xs

        p
          margin-top: $spacing-m
          width: 600px

      @media only screen and (max-width: $breakPoints-l)
        p
          width: auto

  #sessions
    ul
      display: flex
      justify-content: center
      gap: $spacing-s

      @media only screen and (max-width: $breakPoints-m)
        display: grid
        grid-template-columns: 1fr 1fr

    li:nth-child(1)
      border-color: #17E785

      .time::before
        background-color: #17E785

    li:nth-child(2)
      border-color: #FFA601

      .time::before
        background-color: #FFA601

    li:nth-child(3)
      border-color: #8247F6

      .time::before
        background-color: #8247F6

    li:nth-child(4)
      border-color: #FF4F01

      .time::before
        background-color: #FF4F01

    .session-item
      border: 5px solid $colors-black
      padding: $spacing-s

      div
        display: flex
        flex-direction: column
        align-items: center

        .time
          position: relative
          font-size: $fontSizes-l
        
        .time::before
          position: absolute
          content: ' '
          bottom: 1px
          width: 100%
          height: 5px
          z-index: -1

        .time-unit
          font-size: $fontSizes-s

        .price
          font-size: $fontSizes-xl
