@use "./constants" as *

// Header
.post
  h1
    font-family: 'Source Sans Pro', sans-serif

  p
    font-weight: 300

  header
    margin-bottom: $spacing-s

    section
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: $spacing-s

      h1
        font-size: $fontSizes-xxl
        margin-bottom: $spacing-xs
        font-weight: bold

        @media only screen and (max-width: $breakPoints-s)
          font-size: $fontSizes-xl

      li
        font-family: 'Source Sans Pro', sans-serif

    img
      width: 100%

// Main content
.post
  main
    padding: 0 $spacing-m
    font-size: $fontSizes-m

    @media only screen and (max-width: $breakPoints-ss)
      padding: 0 0

    h1
      margin-top: $spacing-l
      margin-bottom: $spacing-xs
      font-size: $fontSizes-xl
      font-weight: bold
      line-height: initial

      @media only screen and (max-width: $breakPoints-s)
        margin-top: $spacing-m
        font-size: $fontSizes-l

    p
      margin-bottom: $spacing-s
      font-size: $fontSizes-l
      line-height: initial

      @media only screen and (max-width: $breakPoints-s)
        font-size: $fontSizes-m

    a
      position: relative

    a:after
      position: absolute
      content: ''
      bottom: 0
      left: 0
      right: 0
      background-color: $colors-black
      height: 2px

    pre
      padding: 25px
      border-radius: 5px
      overflow: scroll

    .highlighter-rouge,
    ul
      margin-bottom: $spacing-s

.post
  main
    ul
      padding-left: $spacing-ss

    li
      position: relative
      margin-top: $spacing-xs
      font-size: $fontSizes-l

      @media only screen and (max-width: $breakPoints-s)
        font-size: $fontSizes-m

    li:before
      position: absolute
      content: '>'
      top: 0
      left: - $spacing-ss

.post
  blockquote
    padding: $spacing-ss 0
    padding-left: $spacing-s
    margin-bottom: $spacing-s
    position: relative
    background-color: #eeeeee

    :before
      position: absolute
      content: ''
      top: 0
      bottom: 0
      left: 0
      width: $spacing-xs
      background-color: $colors-yellow

    p
      font-weight: bold
      margin-bottom: 0
