.tab-comp-header
  display: flex
  gap: 10px
  font-family: 'avenir'
  font-weight: 900
  font-size: 20px

  & > .active:before
    position: absolute
    bottom: -7px
    left: 0
    right: 0
    height: 4px
    content: ''
    background: black 

  & > button
    position: relative
    // padding: 5px

.tab-comp-body
  padding-top: 25px
