---
layout: default
---
<main>
  <div class="content">
    <sction class="landing">
      <p>Landing</p>
    </sction>

    {% for section in site.data.sections %}
    <section id="_{{section.id}}" class="section">
      <div class="right">
        <img src="assets/images/{{ section.img }}" alt="company image" />
      </div>
      <div class="left">
        {{section.foo}}
      </div>
    </section>
    {% endfor %}

  </div>
  <div id="particles"></div>

  <div class="scroll-navigator hidden">
    <div class="wrap">
      <div class="line"></div>
      {% for section in site.data.sections %}
        <button
          data-target-id="{{section.id}}"
          class="{% if forloop.index == 1 %}current-position{% endif %}">
        </button>
      {% endfor %}
    </div>
  </div>
</main>