@use "./constants" as *

.post
  header
    margin-bottom: $spacing-s

    section
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: $spacing-s

      h1
        font-size: $fontSizes-xxl
        margin-bottom: $spacing-xs
        font-weight: bold
        font-family: 'Playfair Display', serif
    
    img
      width: 100%
      height: 30vw
      object-fit: cover


.post
  main
    font-family: 'Playfair Display', serif
    padding: 0 $spacing-m
    font-size: $fontSizes-m

    @media only screen and (max-width: $breakPoints-ss)
      padding: 0 0
      

    h1
      margin-top: $spacing-l
      margin-bottom: $spacing-xs
      font-size: $fontSizes-xl
      font-weight: bold
      line-height: initial

    p
      margin-bottom: $spacing-s
      font-size: $fontSizes-l
      line-height: initial

    img
      width: 100%
      object-fit: cover
      margin-top: $spacing-s
      border-radius: 5px
      

    pre
      padding: 25px
      border-radius: 5px
      overflow: scroll