@use "./constants" as *

.post
  header
    margin-bottom: $spacing-s

    section
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: $spacing-s

      h1
        font-size: $fontSizes-xxl
        margin-bottom: $spacing-xs
        font-weight: bold
        font-family: 'Playfair Display', serif
    
    img
      width: 100%
      height: 30vw
      object-fit: cover


.post
  main
    font-family: 'Playfair Display', serif
    font-size: $fontSizes-l
    padding: 0 $spacing-m

    @media only screen and (max-width: $breakPoints-ss)
      padding: 0 0
    
    @media only screen and (max-width: $breakPoints-l)
      font-size: $fontSizes-m

    h1
      font-size: $fontSizes-l
      font-weight: bold

    h1,
    h2,
    p
      margin-bottom: $spacing-ss

    img
      width: 100%
      max-height: 20vw
      object-fit: cover
      margin: $spacing-ss 0
      border-radius: 5px

    pre
      padding: 25px
      border-radius: 5px
      overflow: scroll