<footer>
  <a
    href="https://opensea.io/pnl116"
    target="_blank"
    rel="noopener noreferrer"
  >
    <span>Open Sea</span>
  </a>
  
  <a
    href="https://twitter.com/pnl116"
    target="_blank" 
    rel="noopener noreferrer"
  >
    <span>Twitter</span>
  </a>
  
  <a
    href="https://www.instagram.com/pnl_116/"
    target="_blank" 
    rel="noopener noreferrer"
  >
    <span>Instagram</span>
  </a>
  
  <a
    href="https://www.youtube.com/channel/UCLu-TF85sxtop7nf1i0CKwA"
    target="_blank" 
    rel="noopener noreferrer"
  >
    <span>Youtube</span>
  </a>
</footer>