<li class="post-list-item {% if include.loopIdx == 1 %}new{% endif %}">
  <a href={{ include.url }}>
    <section>
      <div class="top">
        <h1>{{ include.title }}</h1>
        {{ include.excerpt }}
      </div>
      <div class="bottom">
        <ul class="tags">
          {% for tag in include.tags %}
          <li>
            {{ tag }}
          </li>
          {% endfor %}
        </ul>
        <span>{{ include.date | date_to_string }} - {{ include.min }} min read</span>
      </div>
    </section>
    <img class="floating-image" src="/assets/images/{{ include.date | date: "%Y-%m-%d" }}/thumbnail.jpg" alt="post image">
  </a>
</li>