---
layout: default
---

<div class="content mentoring">
  <section id="intro">
    <h1>Mentoring</h1>
    <div>
      <img class="floating-image" id="profile-picture" src="assets/images/profile-picture.jpg" alt="profile picture">
      <p>
        I started coding in <code>2015</code> to create a game.
        <br>
        Since then I become a <code>front-end</code> developer
        specialized in <code>React</code>.
        I worked from startups to huge companies.
        <br>
        <br>
        I am passionate about crafting <code>clean code</code>,
        <code>FP concepts</code>, and teaching.
        If
        you need any help please reach out to me.
      </p>
    </div>
  </section>
  <section id="sessions">
    <h1>Book session</h1>
    <ul>
      {% for session in site.data.sessions %}
        {% include session-item.html
          time=session.time
          price=session.price
          url=session.url
        %}
      {% endfor %}
    </ul>
  </section>
</div>