nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
  padding: 20px 30px;
  font-family: "Source Sans Pro", sans-serif;
}
@media only screen and (max-width: 450px) {
  nav {
    padding: 20px 5px;
  }
}
nav a {
  color: whitesmoke;
  font-weight: bold;
  font-size: 22px;
}
nav ul {
  display: flex;
}
nav ul li {
  margin: 10px;
}
nav ul a {
  position: relative;
}
nav ul a:hover:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: whitesmoke;
}

.current-page:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: whitesmoke;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 50px;
  background-color: #222222;
  color: white;
  font-size: 14px;
}
footer p,
footer span {
  margin: 0 10px;
}
footer p {
  font-size: 10px;
}
footer a {
  text-decoration: underline;
}

.not-found {
  display: grid;
  place-items: center center;
  padding-top: 150px;
}
.not-found h1 {
  font-size: 45px;
}
.not-found p {
  font-size: 22px;
}

.post-list-item {
  margin-bottom: 60px;
  padding: 10px 0;
  border-top: 1px solid #222222;
  border-bottom: 1px solid #222222;
  font-family: "Source Sans Pro", sans-serif;
}
.post-list-item a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.post-list-item a section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post-list-item a section h1 {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}
.post-list-item a section p {
  font-size: 18px;
  color: #606060;
}
.post-list-item a section span {
  display: inline-block;
  font-size: 14px;
  margin-top: 5px;
}

.tags {
  margin-top: 10px;
}
.tags p {
  font-weight: bold;
  font-size: 14px;
}
.tags li {
  font-weight: bold;
  font-size: 14px;
  border: 2px solid #222222;
  padding: 2px 5px;
  margin-right: 5px;
  display: inline-block;
  margin-bottom: 5px;
}

.new {
  position: relative;
  border-width: 2px;
}

.new:before {
  position: absolute;
  content: "new";
  font-weight: bold;
  top: -20px;
  left: 0;
  color: #FF1F15;
  font-size: 14px;
}

.post h1 {
  font-family: "Source Sans Pro", sans-serif;
}
.post p {
  font-weight: 300;
}
.post header {
  margin-bottom: 30px;
}
.post header section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #222222;
}
.post header section h1 {
  font-size: 45px;
  margin-bottom: 10px;
  font-weight: bold;
}
@media only screen and (max-width: 680px) {
  .post header section h1 {
    font-size: 30px;
  }
}
.post header section li {
  font-family: "Source Sans Pro", sans-serif;
}

.post main {
  padding: 0 60px;
  font-size: 18px;
}
@media only screen and (max-width: 550px) {
  .post main {
    padding: 0 0;
  }
}
.post main h1 {
  margin-top: 100px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  line-height: initial;
}
@media only screen and (max-width: 680px) {
  .post main h1 {
    margin-top: 60px;
    font-size: 22px;
  }
}
.post main p {
  margin-bottom: 30px;
  font-size: 22px;
  line-height: initial;
}
@media only screen and (max-width: 680px) {
  .post main p {
    font-size: 18px;
  }
}
.post main a {
  position: relative;
}
.post main a:after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: 0;
  right: 0;
  background-color: #222222;
  height: 2px;
}
.post main pre {
  padding: 25px;
  border-radius: 5px;
  overflow: scroll;
}
.post main .highlighter-rouge,
.post main ul {
  margin-bottom: 30px;
}

.post main ul {
  padding-left: 20px;
}
.post main li {
  position: relative;
  margin-top: 10px;
  font-size: 22px;
}
@media only screen and (max-width: 680px) {
  .post main li {
    font-size: 18px;
  }
}
.post main li:before {
  position: absolute;
  content: ">";
  top: 0;
  left: -20px;
}

.post blockquote {
  padding: 20px 0;
  padding-left: 30px;
  margin-bottom: 30px;
  position: relative;
  background-color: #eeeeee;
}
.post blockquote :before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  width: 10px;
  background-color: #F0C300;
}
.post blockquote p {
  font-weight: bold;
  margin-bottom: 0;
}

.about {
  display: flex;
  justify-content: center;
}
.about h1 {
  font-weight: bold;
  font-size: 30px;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 60px;
  margin-bottom: 10px;
}
.about p {
  font-size: 18px;
  font-weight: 300;
}
.about h1, .about p {
  max-width: 500px;
}

.post-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}
.post-image img {
  margin-top: 0;
  width: 100%;
}

body {
  font-family: "Roboto Slab", serif;
  background-color: whitesmoke;
}

.content {
  min-height: calc(100vh - 160px);
  padding: 45px 30px;
}
@media only screen and (min-width: 680px) and (max-width: 855px) {
  .content {
    padding: 45px 60px;
  }
}
@media only screen and (min-width: 855px) and (max-width: 1182px) {
  .content {
    padding: 45px 100px;
  }
}
@media only screen and (min-width: 1182px) and (min-width: 1382px) {
  .content {
    padding: 45px 18vw;
  }
}
@media only screen and (min-width: 1182px) {
  .content {
    padding: 45px 20vw;
  }
}

.floating-image {
  object-fit: cover;
  border-radius: 5px;
  -webkit-box-shadow: 9px 10px 17px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 9px 10px 17px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 9px 10px 17px 0px rgba(0, 0, 0, 0.09);
}

.lazyload,
.lazyloading {
  filter: blur(5px);
}

.lazyloaded {
  animation-name: fadein;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0);
  }
}

/*# sourceMappingURL=main.css.map */
