footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 50px;
  background-color: #222222;
  color: white;
  font-size: 14px;
}
footer p,
footer span {
  margin: 0 10px;
}
footer p {
  font-size: 10px;
}
footer a {
  text-decoration: underline;
}

.not-found {
  display: grid;
  place-items: center center;
  padding-top: 150px;
}
.not-found h1 {
  font-size: 45px;
}
.not-found p {
  font-size: 22px;
}

body {
  font-family: "Roboto Slab", serif;
  background-color: whitesmoke;
}

.lazyload,
.lazyloading {
  filter: blur(5px);
}

.lazyloaded {
  animation-name: fadein;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0);
  }
}
main {
  overflow: hidden;
}

.content {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  background: #0F2027;
  position: fixed;
  color: white;
}
.content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.landing {
  scroll-snap-align: start;
  display: grid;
  height: 100vh;
  place-items: center center;
  font-family: Source sans pro;
  font-weight: 900;
  font-size: 45px;
}
.landing > div {
  margin-right: -120px;
}
.landing .logo-wrap {
  display: flex;
  align-items: center;
}
.landing #hi {
  padding-left: 106px;
}
.landing #iam {
  margin-bottom: -40px;
}
.landing #logo {
  position: relative;
  cursor: pointer;
}
.landing #logo-text {
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.landing .skills {
  margin-top: -65px;
}
.landing #fro {
  width: 243px;
  text-align: right;
  margin-left: -25px;
}
.landing img {
  width: 100px;
  height: 100px;
  margin: 50px;
  margin-left: 20px;
  margin-top: 20px;
}

.section {
  scroll-snap-align: start;
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  height: 100vh;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right > .company {
  padding: 20px 50px;
  height: 100%;
}
.right > .company > h1 {
  place-self: start;
  font-size: 50px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.right > img {
  width: 101%;
}

.about-and-hire-story > div {
  margin-top: 50px;
}
.about-and-hire-story > div > h1 {
  font-size: 25px;
  font-family: "avenir";
  font-weight: 700;
}
.about-and-hire-story > div > p {
  margin-top: 10px;
  font-size: 17px;
  line-height: 1.3;
  font-weight: 300;
}

.left {
  color: black;
  background: white;
  display: grid;
  place-items: center center;
}
.left > div {
  margin-left: -200px;
  width: 500px;
}
.left > div > h1 {
  font-size: 25px;
  margin-bottom: 7px;
  font-family: "avenir";
  font-weight: 900;
}
.left > div > h2 {
  font-family: "avenir";
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 45px;
}
.left > div > p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3;
}

.scroll-navigator {
  z-index: 10;
  position: sticky;
  top: 0;
}
.scroll-navigator .wrap {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding-right: 90px;
}
.scroll-navigator .shapes {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  justify-content: space-between;
}
.scroll-navigator .shapes .line {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: #D5D5D5;
  width: 5px;
  height: 100%;
}
.scroll-navigator .shapes button {
  z-index: 2;
  width: 20px;
  height: 20px;
  background: #D5D5D5;
  border-radius: 50px;
}
.scroll-navigator .shapes .current-position {
  background: black;
}

#particles {
  background: linear-gradient(0deg, #0F2027 0%, #203A43 50%, #2C5364 100%);
  width: 100vw;
  height: 100vh;
}

.hidden {
  opacity: 0;
}

.wiggle {
  animation: wiggle 1.5s infinite;
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(7deg);
  }
  10% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(7deg);
  }
  30% {
    transform: rotate(-7deg);
  }
  40% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.totransparent {
  animation: anim 5s forwards;
}
@keyframes anim {
  from {
    background: #0F2027;
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}

/*# sourceMappingURL=main.css.map */
