<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/png" href="/assets/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap" rel="stylesheet">

  <!-- Styles -->
  <link rel="stylesheet" href="/assets/css/destyle.css">
  <link rel="stylesheet" href="/assets/css/monokai.css">
  <link rel="stylesheet" href="/assets/css/main.css">

  <!-- Progressive image loading: https://github.com/aFarkas/lazysizes -->
  <script src="/assets/js/lazysizes.min.js" async=""></script>

  <!-- og img stuff -->
  {% if page.url == '/' %}
    <meta property="og:image" content="https://www.adamgonda.com/assets/images/logo-for-links.jpg">
  {% elsif page.url == '/about.html' %}
    <meta property="og:image" content="https://www.adamgonda.com/assets/images/about/cover.jpg">
  {% else %}
  <meta property="og:image"
    content="https://www.adamgonda.com/assets/images/{{  page.url | regex_replace: '[^\d/]', '' | replace_first: "/", "" | split: "" | reverse | join: "" | replace_first: "/", ""  | split: "" | reverse | join: "" | replace: "/", "-" | append: "/cover.jpg"  }}">
  {% endif %}

  {% feed_meta %}
  {% seo %}
</head>

<body>
  {% include navigation.html %}
  <div class="content">
    {{ content }}
  </div>
  {% include footer.html %}
</body>

</html>