<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/png" href="/assets/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/destyle.css">
  <link rel="stylesheet" href="/assets/css/monokai.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <title>Adam Gonda</title>
</head>

<body>
  {% include navigation.html %}
  <div class="content">
    {{ content }}
  </div>
  {% include footer.html %}
</body>

</html>