---
layout: default
---
<main class="post">
  <header>
    <section>
      <h1>{{ page.title }}</h1>
      <div>
        {{ page.date | date_to_string }}
        <span>-</span>
        {{ page.minutes }} min read
        <span>-</span>
        <span style="display: inline-block;">
          {% include tags.html tags=page.tags %}
        </span>
      </div>
    </section>
    <img class="floating-image
    {% if page.ignore_pil %}
      ignore-PIL
    {% endif %}
    " src="/assets/images/{{ page.date | date: "%Y-%m-%d" }}/cover.jpg">
  </header>
  <main>
    {{ content }}
  </main>
</main>